<%- include('header'); -%>
<h2>This is the about Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque suscipit fugit at quam ducimus quae in qui corporis similique, hic fugiat dignissimos nemo consequatur sint ab blanditiis quas molestias? Praesentium!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint deleniti amet qui omnis itaque, dolorum sequi fugit reiciendis tenetur illum nihil assumenda iure. Accusantium at, omnis similique ad ab deserunt cumque et laboriosam optio vel error perspiciatis soluta dignissimos minima!</p>
<%- include('footer'); -%>